<app-modal-content
    [class]="'nav-auth auth'"
    [active]="modalActive"
    (closeEvent)="onClose()"
>
    <ng-container [ngTemplateOutlet]="top"/>
    <ng-container [ngTemplateOutlet]="form"/>
    <ng-container [ngTemplateOutlet]="bottom"/>
</app-modal-content>

<ng-template #top>
    <div class="auth__login">
        {{translation.login}}
    </div>
    <div class="auth__policy">
        {{translation.policy}}
    </div>
    <app-button [class]="'auth__google'">
        <app-google-svg class="auth__google-icon"/>
        <div class="auth__google-text">
            {{translation.google}}
        </div>
    </app-button>
    <div class="auth__separator">
        <div class="auth__separator-line"></div>
        <div class="auth__or">
            {{translation.or}}
        </div>
        <div class="auth__separator-line"></div>
    </div>
</ng-template>

<ng-template #form>
    <form class="auth__form" type="submit" (submit)="onSubmit($event)">
        <app-input
            [class]="'auth__input'"
            [name]="'email'"
            [value]="values.email"
            [error]="errors.email"
            [placeholder]="translation.form.email"
            (changeEvent)="onChange($event)"
        />
        <app-input
            [class]="'auth__input'"
            [name]="'password'"
            [value]="values.password"
            [type]="'password'"
            [error]="errors.password"
            [placeholder]="translation.form.password"
            (changeEvent)="onChange($event)"
        />
        <input type="submit" (submit)="onSubmit($event)" style="display: none"/>
    </form>
</ng-template>

<ng-template #bottom>
    <div class="auth__forgot">
        {{translation.forgot}}
        <a class="auth__link" routerLink="auth/forgot" (click)="onClose()">
            {{translation.password}}
        </a>
        ?
    </div>
    <div class="auth__signup">
        {{translation.new}}
        <a class="auth__link" routerLink="auth/register" (click)="onClose()">
            {{translation.signup}}
        </a>
    </div>
    <app-button
        [class]="'auth__submit' + (submitActive ? ' auth__submit--active' : '')"
        [loading]="loading"
        (clickEvent)="onSubmit($event)"
    >
        {{translation.login}}
    </app-button>
    <div *ngIf="error" class="auth__error">
        {{error}}
    </div>
</ng-template>
