<nav class="nav" [class.nav--hide]="hide">
    <div class="nav__title">
        Dan<span class="nav__red-chars">f</span>orum
    </div>
    <ng-container [ngTemplateOutlet]="navSearch"/>
    <app-button *ngIf="user === null" [class]="'nav__login'" (clickEvent)="onLoginClick()">
        {{translation.login}}
    </app-button>
    <ng-container *ngIf="user" [ngTemplateOutlet]="navUser"/>
    <app-modal [active]="modalActive" (closeEvent)="onCloseModal()"/>
    <app-auth [modalActive]="modalActive" (closeEvent)="onCloseModal()"/>
</nav>

<ng-template #navSearch>
    <div class="nav-search search">
        <app-button [class]="'search__button'">
            <app-search-svg [class]="'search__icon'"/>
        </app-button>
        <app-input
            [class]="'search-input'"
            [placeholder]="'Search'"
            [name]="'search'"
            [value]="searchValue"
            (changeEvent)="onSearchChange($event)"
        />
    </div>
</ng-template>

<ng-template #navUser>
    <ng-container [ngTemplateOutlet]="userDropdown"/>
    <ng-container *ngIf="accountMenuShown" [ngTemplateOutlet]="userMenu"/>
</ng-template>

<ng-template #userDropdown>
    <app-button class="nav-user-dropdown dropdown" #dropdownButton>
        <app-ava-svg [class]="'dropdown__ava'"/>
        <i class="dropdown__chevron"></i>
    </app-button>
</ng-template>

<ng-template #userMenu>
    <div class="nav-user-menu menu" #userMenuDiv>
        <div class="menu__account">
            <i class="icon menu__account-icon"></i>
            <div class="menu__account-text">
                {{user?.name}}
            </div>
        </div>
        <a
            class="menu__option menu__profile"
            [routerLink]="['/', lang, 'profile']"
            oncontextmenu="return false;"
        >
            <div class="menu__option-text">
                {{translation.profile}}
            </div>
        </a>
        <app-button [class]="'menu__option menu__logout'" (clickEvent)="onLogoutClick()">
            <i class="icon menu__option-icon"></i>
            <div class="menu__option-text">
                {{translation.logout}}
            </div>
        </app-button>
    </div>
</ng-template>
