.nav
  display: flex
  align-items: center
  justify-content: space-between
  padding: 10px 20px
  border-bottom: 1px solid #EDEFF1
  .nav__title
    font-family: Vag
    font-size: 20px
  .nav__red-chars
    color: red
    font-family: Vag
    font-size: 20px
  .nav__login
    width: 70px
    height: 40px
    border-radius: 50px
    font-weight: 700
    background-color: red
    color: white

.nav--hide
  display: none

.nav-search.search
  position: relative
  width: 600px
  .search__button
    position: absolute
    top: 12px
    left: 16px
    z-index: 10
  .search__icon
    display: block
  .input__placeholder
    color: #757e85
    top: 14px
    left: 40px
  .input__field
    color: #0F1A1C
    background-color: #eaedef
    padding: 12px 40px
    border-radius: 50px
  .input--focused .input__placeholder
    display: block
  .input--filled .input__placeholder
    display: none

.nav-user-dropdown.dropdown
  border: 1px solid transparent
  padding: 2px 7px
  &:hover
    border-color: #EDEFF1
  .dropdown__chevron
    font-size: 20px
    font-weight: 400
    height: 20px
    line-height: 20px
    vertical-align: middle
    width: 20px
    color: #878A8C
    font-style: normal
    &:before
      content: "\f13e"
      font-family: redesignFont2020
  .dropdown__ava
    margin-right: 8px
    width: 24px
    height: 24px
    background: #d7dfe2
    fill: #fff

.nav-user-menu.menu
  position: fixed
  padding: 10px 0
  top: 70px
  right: 20px
  border: 1px solid #EDEFF1
  width: 250px
  border-radius: 5px
  background-color: white
  .menu__account
    padding: 0 20px
    height: 40px
    display: flex
    align-items: center
  .menu__account-text
    color: #787c7e
    font-weight: 500
  .menu__account-icon
    color: #787c7e
    margin-right: 12px
    &:before
      content: "\f247"
  .menu__option
    display: flex
    text-decoration: none
    height: 40px
    cursor: pointer
    align-items: center
    width: 100%
    justify-content: start
    &:hover
      background: rgba(0,0,0,0.04)
  .menu__option-text
    font-size: 14px
    font-weight: 500
    color: black
    text-decoration: none
  .menu__option-icon
    width: 20px
    margin-right: 12px
  .menu__profile
    padding: 0 20px 0 52px
  .menu__logout
    padding: 0 20px
    .menu__option-icon
      &:before
        content: "\f1f3"

@media (max-width: 1200px)
  .nav__title
    margin-right: 20px
  .nav-search.search
    width: 100%
    margin-right: 20px
