<app-modal-content
    [class]="'profile-update-password update'"
    [active]="modalActive"
    (closeEvent)="onClose()"
>
    <div class="update__art"></div>
    <ng-container [ngTemplateOutlet]="updatePasswordForm"></ng-container>
</app-modal-content>

<ng-template #updatePasswordForm>
    <form class="profile-update-password-form form">
        <div class="form__title">
            {{translation.title}}
        </div>
        <app-input
            [class]="'form__input'"
            [name]="'currentPassword'"
            [value]="values.currentPassword"
            [error]="errors.currentPassword"
            [type]="'password'"
            [placeholder]="translation.form.currentPassword"
            (changeEvent)="onChange($event)"
        />
        <app-input
            [class]="'form__input'"
            [name]="'newPassword'"
            [value]="values.newPassword"
            [error]="errors.newPassword"
            [type]="'password'"
            [placeholder]="translation.form.newPassword"
            (changeEvent)="onChange($event)"
        />
        <app-input
            [class]="'form__input'"
            [name]="'newPasswordConfirm'"
            [value]="values.newPasswordConfirm"
            [error]="errors.newPasswordConfirm"
            [type]="'password'"
            [placeholder]="translation.form.newPasswordConfirm"
            (changeEvent)="onChange($event)"
        />
        <app-button
            [class]="'form__button'"
            (clickEvent)="onSubmit($event)"
            [loading]="loading"
        >
            {{translation.save}}
        </app-button>
        <div class="form__error" *ngIf="serverError">
            {{serverError}}
        </div>
        <div class="form__success" *ngIf="success">
            {{success}}
        </div>
    </form>
</ng-template>

