<div class="profile-layout profile" *ngIf="user !== undefined">
    <div class="profile-menu menu">
        <a
            class="menu__item"
            [class.menu__item--active]="menuActiveLink==='settings'"
            [routerLink]="['/profile/settings']"
        >
            {{translation.settings}}
        </a>
        <a
            class="menu__item"
            [class.menu__item--active]="menuActiveLink==='about'"
            [routerLink]="['/profile/about']"
        >
            {{translation.about}}
        </a>
    </div>
    <div class="profile-page">
        <router-outlet></router-outlet>
    </div>
</div>
