<div
    class="auth-page-content auth register"
>
    <ng-container [ngTemplateOutlet]="top"/>
    <ng-container [ngTemplateOutlet]="form"/>
    <ng-container [ngTemplateOutlet]="bottom"/>
</div>

<ng-template #top>
    <div class="auth__title">
        {{translation.signup}}
    </div>
    <div class="auth__policy">
        {{translation.policy}}
    </div>
    <app-button [class]="'auth__google'">
        <app-google-svg class="auth__google-icon"/>
        <div class="auth__google-text">
            {{translation.google}}
        </div>
    </app-button>
    <div class="auth__separator">
        <div class="auth__separator-line"></div>
        <div class="auth__or">
            {{translation.or}}
        </div>
        <div class="auth__separator-line"></div>
    </div>
</ng-template>

<ng-template #form>
    <form class="auth__form" type="submit">
        <app-input
            [class]="'auth__input'"
            [name]="'email'"
            [value]="values.email"
            [error]="errors.email"
            [placeholder]="translation.form.email"
            (changeEvent)="onChange($event)"
        />
        <app-input
            [class]="'auth__input'"
            [name]="'name'"
            [value]="values.name"
            [error]="errors.name"
            [placeholder]="translation.form.name"
            (changeEvent)="onChange($event)"
        />
        <app-input
            [class]="'auth__input'"
            [name]="'password'"
            [value]="values.password"
            [type]="'password'"
            [error]="errors.password"
            [placeholder]="translation.form.password"
            (changeEvent)="onChange($event)"
        />
        <app-input
            [class]="'auth__input'"
            [name]="'passwordConfirm'"
            [value]="values.passwordConfirm"
            [type]="'password'"
            [error]="errors.passwordConfirm"
            [placeholder]="translation.form.passwordConform"
            (changeEvent)="onChange($event)"
        />
        <app-button
            [class]="'auth__submit'"
            [loading]="loading"
            (clickEvent)="onSubmit($event)"
        >
            {{translation.signup}}
        </app-button>
        <div *ngIf="error" class="auth__form-error">
            {{error}}
        </div>
    </form>
</ng-template>

<ng-template #bottom>
    <div class="auth__link-wrapper">
        {{translation.already}}
        <a class="auth__link" routerLink="/auth/login">
            {{translation.login}}
        </a>
    </div>
</ng-template>

