<div
    class="input"
    [class]="class"
    [class.input--textarea]="type==='textarea'"
    [class.input--focused]="focused"
    [class.input--filled]="value"
    [class.input--error]="error"
>
    <div class="input__wrapper">
        <textarea
            *ngIf="type === 'textarea'"
            class="input__field input__textarea"
            name="{{name}}"
            (input)="onChange($event)"
            (focus)="onFocus($event)"
            (blur)="onBlur($event)"
        ></textarea>
        <input
            *ngIf="type !== 'textarea'"
            class="input__field"
            name="{{name}}"
            type="{{type}}"
            (input)="onChange($event)"
            (focus)="onFocus($event)"
            (blur)="onBlur($event)"
        >
        <div *ngIf="placeholder" class="input__placeholder">
            {{placeholder}}
        </div>
    </div>
    <div *ngIf="error" class="input__error">
        {{error}}
    </div>
</div>
