<div class="input" [class]="class">
    <div class="input__state" [class.input__state-focused]="focused">
        <div class="input__wrapper">
            <ng-template *ngIf="type === 'textarea' else field">
                <textarea class="input__textarea" name="{{name}}"></textarea>
            </ng-template>
            <ng-template #field>
                <input
                    class="input__field"
                    name="{{name}}"
                    type="{{type}}"
                    (change)="onChange"
                    (focus)="onFocus"
                >
                </input>
            </ng-template>
            <div class="input__placeholder" *ngIf="placeholder">
                {{placeholder}}
            </div>
        </div>
    </div>
    <div class="input__error" *ngIf="error"></div>
</div>
